<h2>Contact Me</h2>

<div class="content">
  <mat-list role="list">
    <mat-list-item>
      <mat-icon matListItemIcon>email</mat-icon>
      <div matListItemTitle>BrandonBrownB2&#64;gmail.com</div>
    </mat-list-item>
  </mat-list>
</div>

<div class="content">
  <a
    class="download"
    mat-fab
    extended
    color="accent"
    href="../../../assets/images/resume_2024.pdf"
    download
  >
    <mat-icon>download</mat-icon>
    Resume
  </a>

  <a
    class="material-button-icon"
    mat-fab
    extended
    color="accent"
    href="https://www.linkedin.com/in/brandon-brown-3206b25b"
    target="_blank"
  >
    <img src="../../../assets/svg/linkedin.svg" alt="LinkedIn" />
    LinkedIn
  </a>

  <a
    class="material-button-icon"
    mat-fab
    extended
    color="accent"
    href="https://www.linkedin.com/in/brandon-brown-3206b25b"
    target="_blank"
  >
    <img src="../../../assets/svg/facebook.svg" alt="LinkedIn" />
    Facebook
  </a>

  <a
    class="material-button-icon"
    mat-fab
    extended
    color="accent"
    href="https://github.com/bebrown21"
    target="_blank"
  >
    <img src="../../../assets/svg/github.svg" alt="Github" />
    Github
  </a>
</div>
