mat-card {
  height: 100%;
}

.card {
  max-width: 400px;
  justify-content: space-between;

  p {
    margin: 1rem 0;
  }

  mat-card-actions {
    justify-content: flex-end;
    gap: 1rem;
  }
}

.mat-mdc-card-header {
  padding: 1rem;
}
