<h2>About Me</h2>

<div class="content">
  <div class="content__text">
    <p>
      I graduated from Tennessee Technological University as an Electrical
      Engineer to follow in the steps of my father, a Nuclear Engineer. It
      wasn't until years after that I decided that solving problems with
      Software was my true passion. Driven by that, I became a self-taught
      Software Engineer majoring in Web Development.
    </p>

    <p>
      I've always been passionate to learn new things in both tech and
      leadership. I have strong relational skills and a broad range of
      experience in web development, leading, teaching, and Agile Web
      development.
    </p>
  </div>

  <img src="../../../assets/self.png" alt="self" />
</div>
