<h2>About Me</h2>

<div class="content">
  <div class="content__text">
    <p>
      I earned my degree in Electrical Engineering from Tennessee Technological
      University, inspired by my father, a Nuclear Engineer. However, my true
      calling revealed itself years later when I discovered a profound passion
      for problem-solving through software. Fueled by this newfound interest, I
      ventured into the realm of self-taught software engineering, specializing
      in web development.
    </p>

    <p>
      My enthusiasm for continual learning extends to both technological
      advancements and leadership skills. Armed with robust relational
      abilities, I boast a diverse background encompassing web development,
      leadership roles, teaching, and expertise in Agile web development.
    </p>
  </div>

  <img src="../../../assets/images/self.png" alt="self" />
</div>
