<mat-toolbar class="toolbar">
  <div class="toolbar__left">
    <button class="mobile-menu" mat-icon-button color="primary">
      <mat-icon>menu</mat-icon>
    </button>

    <button
      mat-button
      routerLink="/"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <mat-icon class="material-icons">home</mat-icon>
      Brandon Brown
    </button>
  </div>

  <div class="toolbar__right">
    <button
      mat-fab
      extended
      color="primary"
      routerLink="portfolio"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      Portfolio
      <mat-icon class="material-icons">folder_open</mat-icon>
    </button>

    <button
      mat-fab
      extended
      color="primary"
      routerLink="/about"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      About
      <mat-icon class="material-icons">mood</mat-icon>
    </button>

    <button
      mat-fab
      extended
      color="primary"
      routerLink="/contact"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      Contact
      <mat-icon class="material-icons">phone</mat-icon>
    </button>
  </div>
</mat-toolbar>
